{% extends "base.html" %}
{% block content %}
<div class="container">
    <form method="post" action="/join" enctype="multipart/form-data">
        <div class="mb-3 row">
            <label class="form-label" for="formid">아이디</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="formid" name="userid" value="" />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="form-label">비밀번호</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="userpw" value="" />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="form-label">이름</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" value="" />
            </div>            
        </div>
        <div class="mb-3 row">
            <label class="form-label">성별</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="sex" value="" />
            </div>            
        </div>
        <div class="mb-3 row">
            <label class="form-label">우편번호</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="post_num" value="" />
            </div>            
        </div>
        <div class="mb-3 row">
            <label class="form-label">주소</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="address" value="" />
            </div>            
        </div>
        <div class="mb-3 row">
            <label class="form-label">전화번호</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="tel" value="" />
            </div>            
        </div>
        <div class="mb-3 row">
            <label class="form-label">나이</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="age" value="" />
            </div>            
        </div>
        <div class="mb-3 row">
            <label class="form-label">프로필이미지</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" name="img1" value="" />
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">회원가입</button>
            </div>
        </div>
        {% if msg %}
        <div class="mb-3 row">
            <div class="col-sm-10">
                <div class="alert alert-danger" role="alert">
                    {{msg}}
                </div>
            </div>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}